{% extends 'base.html' %}

{% block title %}
Submit Artikel
{% endblock %}

{% block content %}

<section class="py-5">

<div class="container">

<div class="row justify-content-center">

<div class="col-lg-8">

<div class="card shadow">

<div class="card-header bg-primary text-white">

<h3>

Submit Artikel

</h3>

</div>

<div class="card-body">

<form method="POST" enctype="multipart/form-data">

{% csrf_token %}

{{ form.as_p }}

<button class="btn btn-success">

<i class="bi bi-send"></i>

Kirim Artikel

</button>

</form>

</div>

</div>

</div>

</div>

</div>

</section>

{% endblock %}